
.App {
  text-align: center;
}
.answers{
text-align: center;}


#select {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:100%;
}
#vl {
  border-left: 3px solid black;
}
#bb{
  border-bottom: 3px solid black;
}


#con1{
  height: 100vh;
  width:100vw;
}

